<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>update this player</h1>
    <div>
      <h3>Player Name</h3>
      <p>Player class:</p>
      <ul>
        <p>Player Stat List:</p>
        <li>1: Strength</li>
        <li>2: Dexterity</li>
        <li>3: Constitution</li>
        <li>4: Wisdom</li>
        <li>5: Intelligence</li>
        <li>6: Charisma</li>
      </ul>
    </div>
  </body>
</html>
