.container{
    border: 2px solid black;
    width: 500px;
    height: 160px;
    margin-left: 377px;
    margin-bottom: 35px;
}
body{
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 298px;
}